<h1><a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">SwiftShip</a></h1>
<nav class="nav">
<a routerLink="/shipments" routerLinkActive="active" ariaCurrentWhenActive="page">Shipments</a>
<a routerLink="/customers" routerLinkActive="active" ariaCurrentWhenActive="page">Customers</a>
<a routerLink="/load-management" routerLinkActive="active" ariaCurrentWhenActive="page">Load Management</a>
<a routerLink="/status-management" routerLinkActive="active" ariaCurrentWhenActive="page">Status Management</a>
<a routerLink="/reports" routerLinkActive="active" ariaCurrentWhenActive="page">Reports</a>
</nav>